{
  "name": "exterior-meta",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "bin/html/001_index.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/001_index.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/002_catalog.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/002_catalog.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/003_category.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/003_category.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/004_compare.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/004_compare.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/005_product.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/005_product.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/scss/styles.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/css/styles.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    },
    {
      "path": "bin/scripts/plugins.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/plugins.min.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "bin/scripts/app.js",
      "configJson": "{\"autoCompile\":true,\"forceCompile\":false,\"customOutput\":\"docs/js/app.js\",\"sourceMap\":false,\"compiler-concat-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":false},\"outputSuffix\":\"-dist\"}"
    },
    {
      "path": "bin/html/018_brand.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/018_brand.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/017_solutions.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/017_solutions.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/007_action.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/007_action.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/006_actions.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/006_actions.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/008_stocks.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/008_stocks.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/023_successful-purchase.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/023_successful-purchase.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/024_unsuccessful-purchase.1.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/024_unsuccessful-purchase.1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/009_support.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/009_support.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/009_support_video.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/009_support_video.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/009_support_catalogs.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/009_support_catalogs.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/009_support_documents.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/009_support_documents.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/009_support_certificates.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/009_support_certificates.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/024_unsuccessful-purchase.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/024_unsuccessful-purchase.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/025_404.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/025_404.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/019_projects.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/019_projects.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/020_services.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/020_services.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/011_careers.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/011_careers.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/010_about.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/010_about.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/021_xcoin.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/021_xcoin.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/016_profile.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/016_profile.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/022_repair.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/022_repair.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/013_diller-basket.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/013_diller-basket.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/014_client-basket.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/014_client-basket.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/015_orders.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/015_orders.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/012_contacts.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/012_contacts.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/emails/mail1.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/mail1.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/emails/001_mail.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/001_mail.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/emails/mail_001.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/mail_001.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/emails/mail_002.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/mail_002.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/emails/mail_003.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/mail_003.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/emails/mail_004.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/mail_004.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/emails/mail_005.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/mail_005.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    },
    {
      "path": "bin/html/000_banned.pug",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"docs/000_banned.html\",\"autoCompile\":true,\"compiler-pug\":{\"enabled\":true,\"pretty\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "bin/html",
      "bin/scripts",
      "bin/scss"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "bin/scss/styles.scss",
      "imports": [
        "bin/scss/assets/_normalize.scss",
        "bin/scss/assets/_variables.scss",
        "bin/scss/assets/_mixins.scss",
        "bin/scss/assets/_grid.scss",
        "bin/scss/assets/_buttons.scss",
        "bin/scss/assets/_type.scss",
        "bin/scss/plugins/_dropdown.scss",
        "bin/scss/plugins/owl.carousel.scss",
        "bin/scss/plugins/nouislider.scss",
        "bin/scss/plugins/niceselect.scss",
        "bin/scss/plugins/magnific-popup.scss",
        "bin/scss/assets/_pages.scss",
        "bin/scss/assets/_header.scss",
        "bin/scss/assets/_footer.scss",
        "bin/scss/assets/_navbar.scss",
        "bin/scss/assets/_firstpage.scss",
        "bin/scss/assets/_category.scss",
        "bin/scss/assets/_product.scss",
        "bin/scss/assets/_cabinet.scss",
        "bin/scss/assets/_projects.scss",
        "bin/scss/assets/_services.scss",
        "bin/scss/assets/_about.scss",
        "bin/scss/assets/_basket.scss",
        "bin/scss/assets/_aos.scss"
      ]
    },
    {
      "path": "bin/html/003_category.pug",
      "imports": [
        "bin/html/models/default.pug",
        "bin/html/templates/header.pug",
        "bin/html/templates/navbar.pug",
        "bin/html/templates/categories.pug",
        "bin/html/templates/footer.pug",
        "bin/html/models/head.pug",
        "bin/html/models/scripts.pug",
        "bin/html/templates/categories-navbar.pug"
      ]
    },
    {
      "path": "bin/html/008_stocks.pug",
      "imports": [
        "bin/html/models/default.pug",
        "bin/html/templates/header--user.pug",
        "bin/html/templates/navbar--user.pug",
        "bin/html/templates/footer.pug",
        "bin/html/models/head.pug",
        "bin/html/models/scripts.pug",
        "bin/html/templates/categories-navbar.pug"
      ]
    },
    {
      "path": "bin/html/006_actions.pug",
      "imports": [
        "bin/html/models/default.pug",
        "bin/html/templates/header--user.pug",
        "bin/html/templates/navbar--user.pug",
        "bin/html/templates/footer.pug",
        "bin/html/models/head.pug",
        "bin/html/models/scripts.pug",
        "bin/html/templates/categories-navbar.pug"
      ]
    },
    {
      "path": "bin/html/007_action.pug",
      "imports": [
        "bin/html/models/default.pug",
        "bin/html/templates/header.pug",
        "bin/html/templates/navbar.pug",
        "bin/html/templates/footer.pug",
        "bin/html/models/head.pug",
        "bin/html/models/scripts.pug",
        "bin/html/templates/categories-navbar.pug"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}