.cabinet {
  &--page {
    flex: 1;
    padding: 60px 0;

    h1 {
      font-size: 30px;
      margin: 0 0 15px;
      color: #050d33;
    }

    .action--item {
      margin-bottom: 30px;
      &__image {
        position: relative;
        display: block;

        img {
          display: block;
          width: 100%;
        }

        svg {
          display: block;
          position: absolute;
          width: 100%;height: 100%;
          left: 0;top: 0;z-index: 10;
        }
      }

      &.inactive .action--item__image img {opacity: .5;}
      &.inactive .action--item__image svg {opacity: 1;}

      &__info {
        padding: 20px;
        background-image: linear-gradient(120deg, #ffffff, #f2f3f5);

        h3 {
          font-size: 24px;
          margin: 0 0 20px;
        }

        p {
          margin: 0 0 20px;
        }

      }

      .action--time {
        margin: 0;
        color: #050d33;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;

        svg {
          width: 1em;height: 1em;
          margin-right: 1em;fill: #050d33;
        }
      }


    }
  }

  &--subnav {
    margin-bottom: 30px;

    nav ul {
      font-size: 0;margin-bottom: 30px;

      li {
        display: inline-block;

        a {
          display: block;
          font-size: 18px;
          line-height: 20px;
          white-space: nowrap;
          padding: 10px;
          color: #696e85;
          background-color: #f2f3f5;

          &:hover {
            color: #22489b;
          }

          &.active {
            color: #fff;
            background-color: #22489b;
          }

        }
      }
    }
  }

  &--profile {
    &__informer {
      text-align: right;
      margin-bottom: 30px;
      span {
        display: inline-block;

        &.curs {display: block;margin-bottom: 5px;}

        &.balance {
          background-color: #dd1c1c;
          color: #fff;
          font-size: 24px;
          line-height: 30px;
          padding: 2px 15px;
          border-radius: 4px
        }
      }
    }
  }

  &--table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;

    th, td {
      vertical-align: middle;
    }


    &.purchased {
      margin: 0 0 30px;
      th, td {
        text-align: right;
        color: #050d33;
        padding: 10px;
      }
      thead {
        tr {
          border-bottom: 2px solid #050d33;
        }
        th {
          font-family: 'Open Sans Condensed', sans-serif;

          &:first-child {
            text-align: left;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #696e85;
        }
        td {
          &:first-child, &:nth-child(2) {
            text-align: left;
          }
        }
      }

      a.purchased--item {
        display: block;

        img {
          display: block;
          width: 60px;height: 60px;
        }

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}

