.cabinet {
  &--page {
    flex: 1;
    padding: 60px 0;

    h1 {
      font-size: 30px;
      margin: 0 0 15px;
      color: #050d33;
    }

    .action--item {
      margin-bottom: 30px;
      &__image {
        position: relative;
        display: block;

        img {
          display: block;
          width: 100%;
        }

        svg {
          display: block;
          position: absolute;
          width: 100%;height: 100%;
          left: 0;top: 0;z-index: 10;
        }
      }

      &.inactive .action--item__image img {opacity: .5;}
      &.inactive .action--item__image svg {opacity: 1;}

      &__info {
        padding: 20px;
        background-image: linear-gradient(120deg, #ffffff, #f2f3f5);

        h3 {
          font-size: 24px;
          margin: 0 0 20px;
        }

        p {
          margin: 0 0 20px;
        }

      }

      .action--time {
        margin: 0;
        color: #050d33;
        font-size: 12px;
        line-height: 20px;
        text-transform: uppercase;

        svg {
          width: 1em;height: 1em;
          margin-right: 1em;fill: #050d33;
        }
      }


    }
  }

  &--subnav {
    margin-bottom: 30px;

    nav ul {
      font-size: 0;margin-bottom: 30px;

      li {
        display: inline-block;

        a {
          display: block;
          font-size: 18px;
          line-height: 20px;
          white-space: nowrap;
          padding: 10px 12px;
          color: #696e85;
          background-color: #f2f3f5;

          &:hover {
            color: #22489b;
          }

          &.active {
            color: #fff;
            background-color: #22489b;
          }

        }
      }
    }
  }

  &--profile {
    &__informer {
      text-align: right;
      margin-bottom: 30px;
      span {
        display: inline-block;

        &.curs {display: block;margin-bottom: 5px;font-size: 18px;}

        &.balance {
          display: inline-block;
          background-color: #dd1c1c;
          color: #fff;
          font-size: 24px;
          line-height: 30px;
          padding: 5px 15px;
          border-radius: 4px
        }
      }
    }
  }

  &--table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;

    th, td {
      vertical-align: middle;
    }


    &.purchased {
      margin: 0 0 30px;
      th, td {
        text-align: right;
        color: #050d33;
        padding: 10px;
      }
      thead {
        tr {
          border-bottom: 2px solid #050d33;
        }
        th {
          font-family: 'Open Sans Condensed', sans-serif;

          &:first-child {
            text-align: left;
          }
        }
      }

      tbody {
        tr {
          border-bottom: 1px solid #696e85;
        }
        td {
          &:first-child, &:nth-child(2) {
            text-align: left;
          }
        }
      }

      a.purchased--item {
        display: block;

        img {
          display: block;
          width: 60px;height: 60px;
        }

        &:hover {
          opacity: .5;
        }
      }
    }
  }

  &--orders {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 60px;

    .btn {
      color: #22489b;
      font-size: 14px;


      svg {
        width: 1em;height: 1em;fill: #22489b;
        line-height: 1;vertical-align: middle;
        margin-right: 5px;margin-bottom: 2px;
      }

      &:hover {
        color: #2475c7;
        svg {fill: #2475c7;}
      }
    }

    th, td {
      vertical-align: middle;
      text-align: left;
      padding: 15px 10px;
      color: #050d33;
      font-size: 14px;
      line-height: 20px;

      &:nth-child(4), &:nth-child(5) {
        text-align: right;
      }
    }
    thead {
      tr {border-bottom: 2px solid #050d33;}
      th {font-family: 'Open Sans Condensed', sans-serif;padding: 5px 10px;text-transform: uppercase;}
    }

    tbody tr {border-bottom: 1px solid #f2f3f5;&:hover {background-color: #f2f3f5;}}
  }

  &--panels {
    margin-bottom: -30px;
    .panel {
      background-color: #f2f3f5;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 30px;

      &--header {
        margin-bottom: 10px;
        font-size: 16px;

        .btn {
          svg {
            width: 1em;height: 1em;
            line-height: 1;vertical-align: middle;
            margin-right: 5px;margin-bottom: 2px;
          }
        }
      }

      p {
        margin: 0;
        line-height: 20px;
      }
    }
  }





}

.xcoin {
  &--status {
    h2 {
      font-size: 40px;
      color: #696e85;
      margin: 0 0 30px;
      text-align: center;
      text-transform: uppercase;
    }
    img {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }
    .wraper {
      position: relative;
      height: 7px;
      background-color: #e6e6ea;
      border-radius: 3.5px;
      margin: 0 0 30px;

      .line {
        display: block;
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        background-color: #22489b;
        border-radius: 3.5px;
      }

      .step_25 {
        position: absolute;
        top: 7px;left: 25%;
        width: 40px;margin-left: -20px;
        text-align: center;padding-top: 30px;
        &:before {
          display: block;content: '';position: absolute;
          top: 0;left: 50%;margin-left: -1px;
          width: 2px;height: 28px;background-color: #e6e6ea;
        }
      }

      .step_50 {
        position: absolute;
        top: 7px;left: 50%;
        width: 40px;margin-left: -20px;
        text-align: center;padding-top: 30px;
        &:before {
          display: block;content: '';position: absolute;
          top: 0;left: 50%;margin-left: -1px;
          width: 2px;height: 28px;background-color: #e6e6ea;
        }
      }

      .step_75 {
        position: absolute;
        top: 7px;left: 75%;
        width: 40px;margin-left: -20px;
        text-align: center;padding-top: 30px;
        &:before {
          display: block;content: '';position: absolute;
          top: 0;left: 50%;margin-left: -1px;
          width: 2px;height: 28px;background-color: #e6e6ea;
        }
      }

      .current {
        position: absolute;
        width: 90px;height: 30px;
        border-radius: 15px;
        background-color: #22489b;
        color: #fff;
        top: -12px;margin-left: -45px;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 32px;height: 18px;fill:#fff;
          display: block;margin-right: .5em;
        }

        span { 
          display: block;
        }
      }
    }
  }

  &--bonus {
    padding: 120px 0 0;
    font-size: 16px;
    line-height: 24px;
    color: #050d33;

    h3 {
      margin: 0 0 15px;
      font-size: 30px; 
    }

    h4 {
      margin: 0 0 15px;
      font-size: 18px; 
    }

    p {
      margin: 0 0 24px;
    }

    img {
      display: block;
      width: 100%;
      margin-bottom: 30px;
    }


  }

}
.profile {
  &--info {
    margin: 0 0 30px;
    padding: 0;
    font-size: 0;

    dt, dd {
      display: inline-block;
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 10px;
      padding: 0;
    }
    dt {
      width: 20%;
    }

    dd {
      color: #050d33;
      width: 80%;
    }
  }

  &--password {
    background-color: #f2f3f5;
    border-radius: 10px;
    margin: 0;
    padding: 30px;

    h3 {
      margin: 0 0 20px;
      font-size: 24px;
      line-height: 1;
      color: #050d33;
    }

    .btn--submit {
      display: inline-block;
      width: auto;
      padding: 0 30px;

      &:hover {
        background-color: #22489b;
        color: #fff;
      }
    }

    input {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 15px;
      color: #050d33;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #cdcfd6;
      box-shadow: none;
      margin-bottom: 20px;
    }

    label {
      display: block;
      color: #050d33;
      margin-bottom: 5px;
      font-size: 16px;
    }
  }
}
.repair--table {
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;

  th, td {
    color: #050d33;
    text-align: left;
    padding: 15px;
    vertical-align: middle;

    &:first-child {
      strong, span {
        display: block;
      }

      strong {font-size: 16px;}
    }

    &:nth-child(2) {text-align: right;}
  }

  th {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
  }

  td {
    font-size: 14px;
  }

  thead tr {
    background-color: #f2f3f5;
  }

  tbody tr {
    border-bottom: 1px solid #f2f3f5;
  }
}

@include mediumDown {
  .cabinet--subnav nav ul li a {font-size: 16px;}
  .repair--table th {font-size: 11px;}
  .repair--table td {font-size: 12px;line-height: 18px;}
  .label {font-size: 11px;}
  .cabinet--table.purchased td, .cabinet--table.purchased th {font-size: 12px;}
}
@include mediumDown {
  .basket--form {margin-bottom: 40px;}
}
@include tabletDown {
  .cabinet--profile__informer {text-align: left;}

  .repair--table {
    display: block;
    thead {display: none;}
    tbody, tr, td, th {margin: 0;padding: 0;display: block;width: 100%;}
    tr {margin-bottom: 10px;padding-bottom: 10px;}
    td {
      text-align: left !important;
      &:last-child {padding-top: 10px;}
      &:before {
        display: inline;
        content: attr(data-header);
      }
    }
  }
  .cabinet--table {
    display: block;
    thead {display: none;}
    tbody, tr, td, th {margin: 0;padding: 0;display: block;width: 100%;}
    td {padding: 10px 0;border-bottom: 1px solid #f2f3f5;text-align: right;
      &:nth-child(1), &:nth-child(2) {text-align: center !important;}
      &:nth-child(1) {border: none;}
    }
    .purchased--item img {margin: 0 auto;}
    td:before {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 600;
      display: inline-block;
      float: left;
      content: attr(data-header);
    }
  }

  .cabinet--orders {
    display: block;
    thead {display: none;}
    tbody, tr, td, th {margin: 0;padding: 0;display: block;width: 100%;}
    td {padding: 10px 0;border-bottom: 1px solid #f2f3f5;text-align: right !important;}
    td:before {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 600;
      display: inline-block;
      float: left;
      content: attr(data-header);
    }
  }
  .cabinet--orders .btn {font-size: 12px;}

  .basket--table {
    display: block;
    thead {display: none;}
    tbody, tr, td, th {margin: 0;padding: 0;display: block;width: 100%;
      &.hide--tablet {display: none;}
    }
    td {padding: 10px 0;border-bottom: 1px solid #f2f3f5;text-align: right !important;
      &:nth-child(1), &:nth-child(2) {text-align: center !important;}
      &:first-child {border: none;}
      a.purchased--item {margin: 0 auto;width: 60px;}
    }
    td:before {
      font-family: 'Open Sans Condensed', sans-serif;
      font-weight: 600;
      display: inline-block;
      float: left;
      content: attr(data-header);
    }

    tfoot {display: block;
      th {text-align: center !important;}
    }

    .number {display: inline-block;width: 100px;}
  }

  .basket--page .client--info .col {margin-bottom: 20px;}

}
@include mobile {
  .cabinet--subnav nav ul {text-align: center;}
  .cabinet--subnav nav ul li a {font-size: 13px;padding: 5px 10px;margin: 5px;}
  .cabinet--profile__informer {text-align: left;}
  .profile--info dt, .profile--info dd {width: 100%;margin: 0;}
  .profile--info dd {margin-bottom: 10px;}
  .xcoin--status .wraper .current {width: 50px;margin-left: -25px;}
  .xcoin--status .wraper .current svg {display: none;}
  .xcoin--bonus {padding: 60px 0 0;}

  .basket--table tfoot tr th .btn--submit {width: 100%;}
  .basket--summary h2 {margin-bottom: 10px;}
  .basket--summary table {font-size: 16px;line-height: 24px;}
}