.header {
  background-color: #fff;
  display: none;

  &--wraper, &--left, &--right {
    display: flex;
    align-items: center;
  }

  &--wraper {
    margin: 0 ( $gutter / -2 );
  }

  &--left {
    flex: 1;
  }

  &--right {
    justify-content: flex-end;
  }

  &__brand {
    margin: 0 ( $gutter / 2 );
    display: block;

    img {
      display: block;
      width: 195px;
    }
  }
}