body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.brand--page {
  flex: 1;
  padding: 60px 0;
  font-size: 16px;
  line-height: 24px;
  color: #050d33;

  h1 {
    font-size: 30px;
    margin: 0 0 30px;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 0 30px;
  }

  p {
    margin: 0 0 30px;
  }

  h4 {
    font-size: 18px;
    margin: 30px 0;
  }

  ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }
}

.solutions--page {
  .solution--1 {
    padding: 60px 0;
    font-size: 18px;
    line-height: 27px;

    h1 {
      margin: 0 0 50px;
      color: #050d33;
      font-size: 50px;line-height: 1;
    }

    p {
      margin: 0 0 30px;
    }

    img {
      margin-top: 50px;
    }
  }

  .solution--2 {
    padding-bottom: 30px;
    .col.md-6 {
      margin-bottom: 30px;
    }

    .t--center {
      font-size: 18px;
      line-height: 27px;

      h2 {
        color: #050d33;
        font-size: 30px;
        text-transform: uppercase;
        margin: 0 0 30px;
      }

      p {
        margin: 0 0 50px;
      } 
    }
    .system--item {
      height: 100%;
      display: flex;
      align-items: center;
      min-height: 300px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;height: 100%;
        left: 0;
        top: 0;
        background-color: #f2f3f5;
        border-radius: 5px;
      }

      .wraper {
        width: 100%;
        padding: 0 40px;
      }

      h3 {
        font-size: 24px;
        text-transform: uppercase;
        color: #050d33;
      }

      svg {
        fill: #22489b;
        width: 1em;height: 1em;
        margin-right: .5em;
        vertical-align: middle;
        line-height: 1;
      }
    }
  }

  .solution--3 {
    padding: 60px 0;
    background-color: #f2f3f5;

    .t--center {
      font-size: 18px;
      line-height: 27px;

      h2 {
        color: #050d33;
        font-size: 30px;
        text-transform: uppercase;
        margin: 0 0 30px;
      }

      p {
        margin: 0 0 50px;
      } 
    }

    .pluses--item {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 60px;
      p {
        margin: 0 0 30px;
      }
      h3 {
        font-size: 24px;
        text-transform: uppercase;
        color: #050d33;
        margin: 0 0 30px;
      }

      svg {
        fill: #22489b;
        width: 1em;height: 1em;
        margin-right: .5em;
        vertical-align: middle;
        line-height: 1;
      }
    }
  }

  .solution--form {
    padding: 30px;
    background-color: #22489b;
    border-radius: 10px;

    h3 {
      margin: 0;
      margin-right: 30px;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      line-height: 30px;
      border-right: 2px solid #2475c7;
    }

    label {
      font-size: 16px;
      line-height: 20px;
      display: block;
      color: #fff;
      margin-bottom: 5px;
    }

    input {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 15px;
      color: #050d33;
      font-size: 16px;
      border-radius: 6px;
      border: none;
      box-shadow: none;
    }

    .btn--solution {
      display: block;
      font-size: 16px;
      color: #fff;
      background-color: #2475c7;
      border-radius: 6px;
      height: 40px;
      width: 100%;

      &:hover {
        background-color: #fff;
        color: #050d33;
      }
    }

  }
}

.action--page {
  flex: 1;
  padding: 60px 0;

  #actionsync-2 {
    width: auto;
    margin: 0 30px 50px;

    .owl-item {
      cursor: pointer;
      padding: 5px;
      opacity: .5;

      &.current, &:hover {opacity: 1;}
    }

    .owl-nav .owl-next, .owl-nav .owl-prev {
      width: 24px;height: 24px;
      position: absolute;top: 50%;
      opacity: .5;margin-top: -12px;

      &:hover {
        opacity: 1;
      }

      &.disabled {display: none;}

      svg {
        fill: #050d33;
        width: 24px;height: 24px;
      }
    }
    .owl-nav .owl-next {right: -30px;}
    .owl-nav .owl-prev {left: -30px;}
  }

  .action--info {
    margin-bottom: 50px;

    h1 {
      font-size: 30px;
      line-height: 1;
      margin: 0 0 30px;
      color: #050d33;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #050d33;
      margin: 0 0 30px;
    }
  }

  .action--time {
    margin: 0;
    color: #050d33;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;

    svg {
      width: 1em;height: 1em;
      margin-right: 1em;fill: #050d33;
    }
  }

  .action--form {
    padding: 30px;
    background-color: #f2f3f5;
    border-radius: 10px;

    label {
      font-size: 16px;
      line-height: 20px;
      display: block;
      color: #050d33;
      margin-bottom: 5px;
    }

    input {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 15px;
      color: #050d33;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #cdcfd6;
      box-shadow: none;
    }

    .btn--action {
      display: block;
      font-size: 16px;
      color: #fff;
      background-color: #2475c7;
      border-radius: 6px;
      height: 40px;
      width: 100%;

      &:hover {
        background-color: #050d33;
        color: #fff;
      }
    }

  }
}

.purchase {
  &--page {
    flex: 1;
    padding: 60px 0;

    h1 {
      margin: 0 0 60px;
      color: #050d33;
      font-size: 30px;
      text-align: center;

      span, small {
        display: block;
      }

      small {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
      }

      .icon {
        width: 60px;height: 60px;
        border-radius: 100%;
        background-color: #f2f3f5;
        margin: 0 auto 10px;padding: 14px;

        svg {
          width: 32px;height: 32px;
          display: block;fill: #22489b;
        }
      }
    }
  }

  &--summary {
    h4 {
      font-size: 18px;
      line-height: 30px;
      color: #696e85; 
      margin: 0 0 10px;
      text-transform: uppercase;
      svg {
        width: 1em;height: 1em;
        margin-right: 1em;
        fill: #22489b;
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 30px;
    }

    table {
      width: 100%;
      border: 0;
      border-spacing: 0;
      border-collapse: collapse;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px;
      th {
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: left;
        color: #22489b;
      }
      td {
        text-align: right;
        color: #050d33;
      }

    }

    .btn--continue_shoping {
      display: block;
      width: 100%;
      color: #22489b;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      border: 1px solid #22489b;
      border-radius: 6px;
      padding: 9px 10px;

      &:hover {
        background-color: #22489b;
        color: #fff;
      }
    }
  }
}

.support--page {
  padding: 60px 0;
  flex: 1;
  h1 {
    margin: 0 0 30px;
    color: #050d33;
    font-size: 30px;
  }

  .video-container {
    margin-bottom: 30px;
  }

  .catalog__link {
    margin-bottom: 30px;
    display: block;
    &:hover {opacity: .5;}
  }

  &__link {
    display: flex;
    align-items: center;
    background-image: linear-gradient(120deg, #ffffff, #f2f3f5 );
    margin-bottom: 30px;
    font-size: 24px;
    padding: 40px 0;

    svg {
      flex: none;
      fill: #22489b;
      display: block;
      width: 60px;height: 60px;
      margin: 0 40px;
    }
    span {
      display: block;
      padding-right: 40px;
    }

    &:hover {
      background-image: linear-gradient(300deg, #ffffff, #f2f3f5 );
      svg {
        fill: #2475c7;
      }
    }
  }

  &__docs {
    display: flex;
    align-items: center;
    background-image: linear-gradient(120deg, #ffffff, #f2f3f5 );
    margin-bottom: 30px;
    font-size: 24px;

    span {
      display: block;
      padding: 30px;

      &.thumb {
        padding: 40px;
        flex: none;
        
        svg {
          flex: none;
          fill: #fff;
          display: block;
          width: 60px;height: 60px;
          opacity: 0;
        }

        img {
          display: none;
        }
      }
    }

    &:hover span.thumb {
      background: #22489b !important;
      svg {
        opacity: 1;
      }
    }
  }

  &__str {
    display: block;
    margin: 0 15px 30px;
    text-align: center;
  }


  .panel {
    margin-bottom: 1px;

    &-title {
      font-size: 24px;
      line-height: 30px;
      padding: 15px;
      color: #22489b;
      background-color: #f2f3f5;
      cursor: pointer;
      user-select: none;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        line-height: 1.5;
        width: 10px;height: 10px;
        margin: -5px 25px 0 10px;
        border-right: 1px solid #22489b;
        border-bottom: 1px solid #22489b;
        transform: rotate(-45deg);
        transition: .25s ease-in-out;
      }

      &:hover {
        color: #2475c7;
      }

      &[aria-expanded=true] {
        color: #696e85;
        &:before {
          transform: rotate(45deg);
        }
      }
    }

    &-collapse {
      overflow: hidden;
      height: 0;
      transition: .25s ease-in-out;
      opacity: 0;
      &.in {
        opacity: 1;
        height: auto;
      }
    }

    &-body {
      padding: 15px 15px 0;
    }
  }
}

.error--page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 15px;

  a.brand {
    display: block;
    width: 210px;
    margin: 0 auto 30px;
  }

  .message h1 {
    width: 940px;
    max-width: 100%;
    margin: 0 auto;

    border: 1px solid #f2f3f5;
    padding: 60px 30px;

    color: #050d33;

    font-size: 30px;


    span, small {
      display: block;
    }

    small {
      padding-top: 10px;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;
    }

    img {
      margin-bottom: 15px;
    }
  }
}

.projects--page {
// Well Section //
  .well {
    padding: 120px 0;
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    text-align: center;

    h1 {
      text-transform: uppercase;
      font-size: 30px;
      margin: 0 0 15px;
    }

    p {margin: 0;}
  }

// WellForm Section //
  .well--form {
    color: #fff;
    background-color: #22489b;
    padding: 30px 0;

    h3 {
      text-transform: uppercase;
      margin: 5px 0;
      font-size: 20px;
      line-height: 28px;
    }

    label, input {
      display: block;
      width: 100%;
      font-size: 16px;
    }

    label {
      margin-bottom: 4px;
      line-height: 16px;
    }

    input {
      color: #050d33;
      background-color: #fff;
      border: none; 
      height: 40px;
      padding: 0 15px;
      border-radius: 6px;
    }

  }
// ProjectsForm Section //
  .projects--form {
    padding: 30px 0;
    background-color: #2475c7;

    .wraper {
      border-radius: 10px;
      padding: 30px;
      background-color: #22489b;
    }

    h3 {
      margin: 0;
      margin-right: 30px;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      line-height: 30px;
      border-right: 2px solid #2475c7;
    }

    label {
      font-size: 16px;
      line-height: 20px;
      display: block;
      color: #fff;
      margin-bottom: 5px;
    }

    input {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 15px;
      color: #050d33;
      font-size: 16px;
      border-radius: 6px;
      border: none;
      box-shadow: none;
    }

    .btn--solution {
      display: block;
      font-size: 16px;
      color: #fff;
      background-color: #2475c7;
      border-radius: 6px;
      height: 40px;
      width: 100%;

      &:hover {
        background-color: #fff;
        color: #050d33;
      }
    }

  }
// Solutions Section //
  .solutions--slider {
    position: relative;
    background-color: #050d33;
    margin-bottom: 40px;

    h1 {
      position: absolute;
      left: 40px;top: 40px;
      color: #fff;
      font-size: 30px;
      z-index: 99;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }

    // Carousel //
      .owl {

        &-carousel {
          &:before {
            display: block;
            content: "";
            background: url(../img/solutions_bg.jpg) no-repeat top left;
            background-size: cover;
            position: absolute;
            width: 40%;height: 100%;
            z-index: 99;
          }
        }

        &-dots {
          position: absolute;
          top: 100%;left: 0;right: 0;
          font-size: 0;line-height: 0;
          text-align: center;padding: 10px 0;

          .owl-dot {
            display: inline-block;
            width: 20px;height: 20px;
            border-radius: 6px;
            border: 2px solid #e6e6ea;
            margin: 0 2.5px;

            &.active {border: 2px solid #2475c7;background-color: #2475c7;}
          }
        }

        &-prev, &-next {
          position: absolute;
          z-index: 999;
          top: 50%;margin-top: -30px;
          padding: 20px;
          border-radius: 6px;
          background-color: rgba(#050d33, .5);
          opacity: .5;

          &:hover {opacity: 1;}
          svg {display: block;width: 20px;height: 20px;fill: #fff;}
        }

        &-prev {left: 15px;}
        &-next {right: 15px;}
      }
    // END Carousel //

    .solutions--items {
      padding-left: 40%;
      display: flex;
      flex-wrap: wrap;

      &__link {
        display: block;
        width: 33.333333333%;
        position: relative;
        overflow: hidden;

        &:before {display: block;content: "";padding-top: 100%;}

        .bg {
          display: block;
          position: absolute;
          top: -10px;left: -10px;right: -10px;bottom: -10px;
          z-index: 1;
          filter: blur(5px);
          transition: .5s ease-in-out;
        }

        &:hover .bg {filter: blur(0);}

        .content {
          position: absolute;
          top: 0;bottom: 0;left: 0;right: 0;
          z-index: 2;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: center;
          color: #fff;
          transform: scaleY(1);
          opacity: 1;
          transform-origin: center;
          transition: .25s ease-in-out;
          font-family: 'Open Sans Condensed', sans-serif;
          font-size: 16px;
          font-weight: 600;

          span {width: 100%;text-align: center;}

          svg {
            flex: none;
            margin: 10px auto;
            width: 40px;height: 40px;
            fill: #fff;
          }
        }

        &:hover .content {transform: scaleY(0);opacity: 0;}
      }
    }
  }
// Reasons Section //
  .reasons {
    padding: 60px 0;
    text-align: center;

    h2 {
      color: #050d33;
      text-transform: uppercase;
      font-size: 30px;
    }

    &--item {
      flex-basis: 20%;
      max-width:  20%;
      -ms-flex-preferred-size:  20%;
      margin-bottom: 30px;
      transition: .2s ease-in-out;

      transform: scale(0);

      &.in {
        transform: scale(1);
      }

      &:nth-child(1) {transition-delay: .25s;}
      &:nth-child(2) {transition-delay: .5s;}
      &:nth-child(3) {transition-delay: .75s;}
      &:nth-child(4) {transition-delay: 1s;}
      &:nth-child(5) {transition-delay: 1.25s;}

      .content {
        background-image: linear-gradient(120deg, #ffffff, #f2f3f5 );
        height: 100%;
        padding: 40px 10px;
        border-radius: 10px;

        svg {
          fill: #2475c7;
          display: block;
          margin: 0 auto 10px;
          width: 40px;height: 40px;
        }

        h4 {
          color: #050d33;
          text-transform: uppercase;
          font-size: 20px;
          margin: 0 0 10px;
        }

        p {
          margin: 0;
          font-size: 16px;
        }
      }
    }
  }
// About Section //
  .about {
    padding: 60px 0;
    font-size: 16px;
    line-height: 24px;

    #more-info {
      overflow: hidden;
      .content {padding: 40px 0 0;}
    }

    h2 {
      color: #050d33;
      text-transform: uppercase;
      font-size: 30px;
      text-align: center;
      margin: 0 0 15px;
    }

    p {
      margin: 0 0 10px;
    }

    .btn--readmore {
      color: #2475c7;
      border: 1px solid #2475c7;
      background-color: #fff;
      border-radius: 6px;
      padding: 10px 30px;
      line-height: 20px;
      font-size: 16px;

      &:hover, &[aria-expanded="true"] {
        color: #fff;
        background-color: #2475c7;
      }

    }
  }
// Skills Section //
  .skills {
    padding: 40px 0;
    background-color: #f2f3f5;
    text-align: center;

    &--item {
      position: relative;
      padding-top: 15px;
      padding-bottom: 15px;
      margin-bottom: 30px;

      &:after {
        content: '';
        display: block;
        width: 1px;height: 100%;
        position: absolute;
        top: 0;right: 0;
        background: -moz-linear-gradient(top, rgba(105,110,133,0) 0%, rgba(105,110,133,0.5) 50%, rgba(105,110,133,0) 100%);
        background: -webkit-linear-gradient(top, rgba(105,110,133,0) 0%,rgba(105,110,133,0.5) 50%,rgba(105,110,133,0) 100%);
        background: linear-gradient(to bottom, rgba(105,110,133,0) 0%,rgba(105,110,133,0.5) 50%,rgba(105,110,133,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00696e85', endColorstr='#00696e85',GradientType=0 );
      }

      &:last-child:after {
        display: none;
      }
    }

    h2 {
      font-size: 30px;

      strong {
        display: inline-block;
        padding: 10px 15px;
        text-transform: uppercase;
        background-color: #2475c7;
        color: #fff;
      }

      small {
        display: block;
        font-family: 'Open Sans', sans-serif;
        color: #696e85;
        font-size: 18px;
        font-weight: 400;
        padding: 10px 0 40px;
      }
    }

    h4 {
      color: #2475c7;
      font-size: 40px;
      margin: 0 0 10px;
    }

    p {
      font-size: 18px;
      line-height: 24px;
      margin: 0 0 10px;
    }
  }
// Steps Section //
  .steps {
    background-color: #2475c7;
    padding: 60px 0;
    color: #fff;

    h2 {
      color: #fff;
      text-transform: uppercase;
      font-size: 30px;
      text-align: center;
      margin: 0 0 15px;
    }

    &--item {
      flex-basis: 20%;
      max-width:  20%;
      -ms-flex-preferred-size:  20%;
      margin-bottom: 30px;
      position: relative;
      text-align: center;
      padding: 30px;


      svg {
        fill: #fff;
        width: 40px;height: 40px;
        margin-bottom: 10px;

        &.next {
          position: absolute;
          margin-right: -15px;
          width: 30px;height: 30px;
          right: 0;top: 30px;
        }
      }

      h4 {
        text-transform: uppercase;
        font-size: 20px;
        margin: 0 0 10px;
      }
      p {
        margin: 0;
        font-size: 16px;
        line-height: 20px;
      }
      
    }

    &--form {
      border-radius: 10px;
      padding: 30px;
      background-color: #22489b;

      h3 {
        display: flex;
        align-items: center;
        min-height: 60px;
        margin: 0;
        margin-right: 30px;
        text-transform: uppercase;
        color: #fff;
        font-size: 20px;
        line-height: 30px;
        border-right: 2px solid #2475c7;
      }

      label {
        font-size: 16px;
        line-height: 20px;
        display: block;
        color: #fff;
        margin-bottom: 5px;
      }

      input {
        display: block;
        width: 100%;
        height: 40px;
        padding: 0 15px;
        color: #050d33;
        font-size: 16px;
        border-radius: 6px;
        border: none;
        box-shadow: none;
      }

      .btn--solution {
        display: block;
        font-size: 16px;
        color: #fff;
        background-color: #2475c7;
        border-radius: 6px;
        height: 40px;
        width: 100%;

        &:hover {
          background-color: #fff;
          color: #050d33;
        }
      }
    }
  }
// Steps Section //
// Partners Section //
  .partners {
    padding: 60px 0;

    h2 {
      color: #050d33;
      text-transform: uppercase;
      font-size: 30px;
      text-align: center;
      margin: 0 0 30px;
    }

    &--item {
      text-align: center;
      img {
        width: 150px;
      }
    }
  }



}


    .collapse {
      overflow: hidden;
      height: 0;
      transition: .25s ease-in-out;
      opacity: 0;
      &.in {
        opacity: 1;
        height: auto;
      }
    }
