body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.brand--page {
  flex: 1;
  padding: 40px 0 40px;
  font-size: 16px;
  line-height: 24px;
  color: #050d33;

  h1 {
    font-size: 30px;
    margin: 0 0 30px;
  }

  img {
    width: 100%;
    display: block;
    margin: 0 0 30px;
  }

  p {
    margin: 0 0 20px;
  }

  h4 {
    font-size: 18px;
    margin: 40px 0 20px;
  }

  ul {
    list-style: none;
    list-style-image: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 10px;
    }
  }
}

.solutions--page {
  .solution--1 {
    padding: 40px 0 30px;
    font-size: 18px;
    line-height: 27px;

    h1 {
      margin: 0 0 50px;
      color: #050d33;
      font-size: 50px;line-height: 1;
    }

    p {
      margin: 0 0 20px;
    }
  }

  .solution--2 {
    padding-bottom: 30px;
    .col.md-6 {
      margin-bottom: 30px;
    }

    .t--center {
      font-size: 18px;
      line-height: 27px;

      h2 {
        color: #050d33;
        font-size: 30px;
        text-transform: uppercase;
        margin: 0 0 15px;
        letter-spacing: .05em;
      }

      p {
        margin: 0 0 30px;
      } 
    }
    .system--item {
      height: 100%;
      display: flex;
      align-items: center;
      min-height: 300px;
      position: relative;

      &:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;height: 100%;
        left: 0;
        top: 0;
        background-color: #f2f3f5;
        border-radius: 5px;
      }

      .wraper {
        width: 100%;
        padding: 0 40px;
      }

      h3 {
        font-size: 24px;
        text-transform: uppercase;
        color: #050d33;
        margin-bottom: 20px;

        svg, span {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
        }
      }

      p {font-size: 14px;line-height: 20px;}

      svg {
        fill: #22489b;
        width: 1em;height: 1em;
        margin-right: .5em;
        vertical-align: middle;
        line-height: 1;
      }
    }
  }

  .solution--3 {
    padding: 60px 0;
    background-color: #f2f3f5;

    .t--center {
      font-size: 18px;
      line-height: 27px;

      h2 {
        color: #050d33;
        font-size: 30px;
        text-transform: uppercase;
        margin: 0 0 10px;
      }

      p {
        margin: 0 0 40px;
      } 
    }

    .pluses--item {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 50px;

      &.mll {
        padding-left: 70px;
      }

      p {
        margin: 0 0 20px;
      }
      h3 {
        font-size: 24px;
        text-transform: uppercase;
        color: #050d33;
        margin: 0 0 20px;

        svg, span {
          display: inline-block;
          line-height: 1;
          vertical-align: middle;
        }
      }

      svg {
        fill: #22489b;
        width: 1em;height: 1em;
        margin-right: .5em;
        vertical-align: middle;
        line-height: 1;
      }
    }
  }

  .solution--form {
    padding: 30px;
    background-color: #22489b;
    border-radius: 10px;

    h3 {
      margin: 0;
      margin-right: 30px;
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      line-height: 30px;
      border-right: 2px solid #2475c7;
    }

    label {
      font-size: 16px;
      line-height: 20px;
      display: block;
      color: #fff;
      margin-bottom: 5px;
    }

    input {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 15px;
      color: #050d33;
      font-size: 16px;
      border-radius: 6px;
      border: none;
      box-shadow: none;
    }

    .btn--solution {
      display: block;
      font-size: 16px;
      color: #fff;
      background-color: #2475c7;
      border-radius: 6px;
      height: 40px;
      width: 100%;

      &:hover {
        background-color: #fff;
        color: #050d33;
      }
    }

  }
}
@include tabletDown {
  .solutions--page .solution--2 .system--item {min-height: 0}
  .solutions--page .solution--3 .pluses--item {text-align: center;max-width: 520px; margin: 0 auto 30px;}
  .solutions--page .solution--3 .pluses--item h3 {margin-bottom: 10px;}
  .solutions--page .solution--form h3 {border: none;margin-bottom: 10px;}
  .solutions--page .solution--form input {margin-bottom: 20px;}
  .solutions--page .solution--3 .pluses--item.mll {padding-left: 0;}
}
@include mobile {
  .solutions--page .solution--1 {font-size: 16px;line-height: 24px;}
  .solutions--page .solution--1 h1 {font-size: 30px;margin-bottom: 30px;}
  .solutions--page .solution--1 p {margin-bottom: 20px;}
  .solutions--page .solution--1 img {margin-top: 30px;}
  .solutions--page .solution--2 .t--center h2, .solutions--page .solution--3 .t--center h2 {font-size: 20px;}
  .solutions--page .solution--2 .t--center,.solutions--page .solution--3 .t--center {font-size: 16px;line-height: 24px;}
  .solutions--page .solution--2 .system--item h3, .solutions--page .solution--3 .pluses--item h3 {font-size: 16px;}
  .solutions--page .solution--2 .system--item .wraper {padding: 0 20px;}
  .solutions--page .solution--2 .system--item, .solutions--page .solution--3 .pluses--item {font-size: 14px;line-height: 20px;}
}
.action--page {
  flex: 1;
  padding: 60px 0;

  #actionsync-2 {
    width: auto;
    margin: 0 30px 50px;

    .owl-item {
      cursor: pointer;
      padding: 5px;
      opacity: 1;

      &.current, &:hover {opacity: 1;}
    }

    .owl-nav .owl-next, .owl-nav .owl-prev {
      width: 24px;height: 24px;
      position: absolute;top: 50%;
      opacity: .5;margin-top: -12px;

      &:hover {
        opacity: 1;
      }

      //&.disabled {display: none;}

      svg {
        fill: #050d33;
        width: 24px;height: 24px;
      }
    }
    .owl-nav .owl-next {right: -30px;}
    .owl-nav .owl-prev {left: -30px;}
  }

  .action--info {
    margin-bottom: 50px;

    h1 {
      font-size: 30px;
      line-height: 1;
      margin: 0 0 30px;
      color: #050d33;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      color: #050d33;
      margin: 0 0 30px;
    }
  }

  .action--time {
    margin: 0 0 10px !important;
    color: #050d33;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;

    svg {
      width: 1em;height: 1em;
      margin-right: 1em;fill: #050d33;
    }
  }

  .action--form {
    padding: 30px;
    background-color: #f2f3f5;
    border-radius: 10px;

    label {
      font-size: 16px;
      line-height: 20px;
      display: block;
      color: #050d33;
      margin-bottom: 5px;
    }

    input {
      display: block;
      width: 100%;
      height: 40px;
      padding: 0 15px;
      color: #050d33;
      font-size: 16px;
      border-radius: 6px;
      border: 1px solid #cdcfd6;
      box-shadow: none;
    }

    .btn--action {
      display: block;
      font-size: 16px;
      color: #fff;
      background-color: #2475c7;
      border-radius: 6px;
      height: 40px;
      width: 100%;

      &:hover {
        background-color: #050d33;
        color: #fff;
      }
    }

  }
}
@include mobile {
  .action--page .action--info .action--time {font-size: 12px;}
  .action--page .action--form input {margin-bottom: 20px;}
}
.purchase {
  &--page {
    flex: 1;
    padding: 60px 0;

    h1 {
      margin: 0 0 60px;
      color: #050d33;
      font-size: 30px;
      text-align: center;

      span, small {
        display: block;
      }

      small {
        font-size: 16px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        padding-top: 10px;
      }

      .icon {
        width: 60px;height: 60px;
        border-radius: 100%;
        background-color: #f2f3f5;
        margin: 0 auto 10px;padding: 14px;

        svg {
          width: 32px;height: 32px;
          display: block;fill: #22489b;
        }
      }
    }
  }

  &--summary {
    h4 {
      font-size: 18px;
      line-height: 30px;
      color: #696e85; 
      margin: 0 0 10px;
      text-transform: uppercase;
      svg {
        width: 1em;height: 1em;
        margin-right: 1em;
        fill: #22489b;
      }
    }
    p {
      font-size: 16px;
      line-height: 24px;
      margin: 0 0 30px;
    }

    table {
      width: 100%;
      border: 0;
      border-spacing: 0;
      border-collapse: collapse;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 30px;
      th {
        font-family: 'Open Sans Condensed', sans-serif;
        text-align: left;
        color: #22489b;
      }
      td {
        text-align: right;
        color: #050d33;
      }

    }

    .btn--continue_shoping {
      display: block;
      width: 100%;
      color: #22489b;
      font-size: 18px;
      line-height: 20px;
      text-align: center;
      border: 1px solid #22489b;
      border-radius: 6px;
      padding: 9px 10px;

      &:hover {
        background-color: #22489b;
        color: #fff;
      }
    }
  }
}

.support--page {
  padding: 60px 0;
  flex: 1;


  nav.pagination ul {
    padding: 10px 0 0;
    margin-bottom: -20px;
    
  }
  
  h1 {
    margin: 0 0 30px;
    color: #050d33;
    font-size: 30px;

    &.docs {
      margin-bottom: 40px;
      margin-top: -10px;
    }
  }

  .video-container {
    margin-bottom: 30px;
  }

  .catalog__link {
    margin-bottom: 30px;
    display: block;
    &:hover {opacity: .5;}
    img {width: 100%;}
  }

  &__link {
    display: flex;
    align-items: center;
    background-image: linear-gradient(120deg, #ffffff, #f2f3f5 );
    margin-bottom: 30px;
    font-size: 24px;
    padding: 40px 0;

    svg {
      flex: none;
      fill: #22489b;
      display: block;
      width: 60px;height: 60px;
      margin: 0;
      margin-left: 20px;
      margin-right: 60px;
    }
    span {
      display: block;
      padding-right: 40px;
    }

    &:hover {
      background-image: linear-gradient(300deg, #ffffff, #f2f3f5 );
      svg {
        fill: #2475c7;
      }
    }
  }

  &__docs {
    display: flex;
    align-items: center;
    background-image: linear-gradient(120deg, #ffffff, #f2f3f5 );
    margin-bottom: 30px;
    font-size: 24px;

    span {
      display: block;
      padding: 30px;

      &.thumb {
        padding: 40px;
        flex: none;
        
        svg {
          flex: none;
          fill: #fff;
          display: block;
          width: 60px;height: 60px;
          opacity: 0;
        }

        img {
          display: none;
        }
      }
    }

    &:hover span.thumb {
      background: #22489b !important;
      svg {
        opacity: 1;
      }
    }
  }

  &__str {
    display: block;
    margin: 0 15px 30px;
    text-align: center;

    span {display: block;}
  }


}
@include tabletDown {
  .support--page__docs {font-size: 18px;}

}
@include mobile {
  .support--page__link svg {margin: 0 20px;}
  .support--page__link {padding: 20px 0;font-size: 18px;}
  .panel-title {font-size: 18px;line-height: 20px;}
  .support--page__docs {font-size: 16px;margin-bottom: 10px;}
  .support--page__docs span {padding: 20px;}
  .support--page__docs span.thumb {padding: 10px;}
}
.error--page {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px 15px;

  a.brand {
    display: block;
    width: 200px;
    margin: 0 auto 30px;
  }

  .message h1 {
    width: 940px;
    max-width: 100%;
    margin: 0 auto;

    border: 1px solid #f2f3f5;
    padding: 30px 30px 60px;

    color: #050d33;

    font-size: 30px;


    span, small {
      display: block;
    }

    small {
      padding-top: 10px;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Open Sans', sans-serif;

      a {text-decoration: underline;}
    }

    img {
      margin-bottom: 15px;
    }
  }
}

.careers--page {
// well section //
  .well {
    background: url(../img/career--well.jpg) no-repeat left bottom;
    padding: 60px 0 0;
    text-align: center;

    h1 {
      color: #050d33;
      font-size: 50px;
      text-transform: uppercase;
      margin: 0 0 10px;
    }
    p {
      font-size: 18px;
      margin: 0 0 60px;
    }

    h3 {
      font-size: 20px;
      padding-top: 30px;
      margin: 0;
      color: #050d33;

      a {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
      }
    }

    &--item {
      padding-top: 30px;
      padding-bottom: 30px;
      svg {
        fill: #22489b;
        width: 40px;height: 40px;
        margin-bottom: 10px;
      }
      span {
        display: block;
        font-size: 18px;
      }
    }
  }
//  career list section //
  .panel-group {
    padding: 60px 0;

    .panel-body {
      color: #050d33;
      font-size: 16px;
      line-height: 24px;
      padding-top: 30px;

      h4 {
        font-size: 18px;
        margin: 0 0 10px;
      }
      ul {
        margin-bottom: 30px;
      }

      p {
        margin: 0 0 30px;
      }
    }
  
  }
//  form block //
  .careers--form {
    margin: 15px 30px 30px;
    padding: 30px 60px;
    background-color: #22489b;
    border-radius: 10px;
    margin-bottom: 30px;

    h3 {
      color: #fff;
      font-size: 24px;
      margin: 0;

      display: flex;
      align-items: center;

      svg {
        fill: #fff;
        width: 40px;height: 40px;
        display: block;margin-right: 15px;
      }

      span, small {
        display: block;
      }

      small {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 16px;
      }



    }

    .input-group {
      display: flex;

      input {
        position: fixed;
        left: -1000px;top: -1000px;
        width: 0;height: 0;


        & + label {
          color: #050d33;
          display: block;
          height: 40px;
          padding: 10px 15px;
          font-size: 16px;
          background-color: #fff;
          border-radius: 6px 0 0 6px;
          flex:1;cursor: pointer;
        }
      }

      .btn--submit {
        border-radius: 0 6px 6px 0;
        flex: none;
        width: auto;
        padding: 0 15px;
        font-size: 18px;

        &:hover {
          background-color: #050d33;
          color: #fff;
        }
      }
    }
  }
}
@include mediumDown {
  .careers--page .well {background: none;}
  .careers--page .careers--form {margin: 30px 0;}
}
@include tabletDown {
  .careers--page .well--item {padding-top: 15px;padding-bottom: 15px;}
  .careers--page .well--item span {font-size: 14px;}
  .careers--page .careers--form {padding: 20px;}
  .careers--page .careers--form h3 {margin-bottom: 20px;}
}
@include mobile {
  .careers--page .careers--form h3 svg {display: none;}
  .careers--page .careers--form .input-group {display: block;}
  .careers--page .careers--form .input-group input+label {border-radius: 6px;margin-bottom: 10px;

    span {
      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 14px;
    }
  }
  .careers--page .careers--form .input-group .btn--submit {
    width: 100%;border-radius: 6px;
  }
}
.collapse {
  overflow: hidden;
  height: 0;
  transition: .25s ease-in-out;
  opacity: 0;
  &.in {
    opacity: 1;
    height: auto;
  }
}
.panel {
  margin-bottom: 1px;

  &-title {
    font-size: 24px;
    line-height: 30px;
    padding: 15px;
    color: #22489b;
    background-color: #f2f3f5;
    cursor: pointer;
    user-select: none;

    &:before {
      flex:none;
      content: '';
      display: inline-block;
      vertical-align: middle;
      line-height: 1.5;
      width: 10px;height: 10px;
      margin: -5px 25px 0 10px;
      border-right: 1px solid #22489b;
      border-bottom: 1px solid #22489b;
      transform: rotate(-45deg);
      transition: .25s ease-in-out;
      @include mobile {
        margin: -5px 10px 0 -5px;
      }
    }

    &:hover {
      color: #2475c7;
    }

    &[aria-expanded=true] {
      color: #696e85;
      &:before {
        transform: rotate(45deg);
      }
    }

    @include tabletDown {
      font-size: 18px;line-height: 20px;
      display: flex;
      align-items: center;
    }
  }

  &-collapse {
    overflow: hidden;
    height: 0;
    transition: .25s ease-in-out;
    opacity: 0;
    &.in {
      opacity: 1;
      height: auto;
    }
  }

  &-body {
    padding: 15px 15px 0;
  }
}
.compare {
  &--sidebar {
    padding-top: 281px;
    .checkbox {
      margin-bottom: 20px;
      input {
        display: none;

        + label {
          display: flex;
          align-items: center;
          font-size: 16px;
          line-height: 20px;
          color: #22489b;

          span {
            display: block;
            user-select: none;
            white-space: nowrap;

            &.check {
              width: 30px;height: 30px;border-radius: 6px;
              background-color: #f2f3f5;padding: 7px;margin-right: 10px;
              svg {
                display: block;fill: #050d33;
                width: 16px;height: 16px;opacity: .3;
              }
            }
          }
          
          &:hover {
            color: #2475c7;
            span.check svg {opacity: .5;}
          }
        }

        &:checked + label {
          color: #22489b;
          span.check svg {opacity: 1;}
        }
      }
    }

    ul.spec {
      margin: 0;
      margin-right: -60px;
      padding: 0;
      list-style: none;
      list-style-image: none;

      li {
        font-size: 16px;
        line-height: 20px;
        color: #050d33;
        display: block;
        padding: 7px 10px;
        border-bottom: 1px solid #f2f3f5;
        margin: 0;
        &.active {background-color: #e8e8e8;}
      }


    }
  }
  &--slider {
    width: auto;
    margin: 0 30px;

    .owl-nav .owl-next, .owl-nav .owl-prev {
      width: 24px;height: 24px;position: absolute;top: 70px;opacity: .5;margin-top: -12px;
      &:hover {opacity: 1;}
      &.disabled {display: none;}
      svg {fill: #050d33;width: 24px;height: 24px;}
    }
    .owl-nav .owl-next {right: -30px;}
    .owl-nav .owl-prev {left: -30px;}

    .slide {
      position: relative;
      padding: 15px;

      &--delete {
        display: block;position: absolute;top: 0;right: 15px;
        width: 14px;height: 14px;opacity: .5;

        &:before, &:after {
          display: block;content: '';
          left: 0;top: 50%;margin-top: -1px;
          position: absolute;width: 100%;height: 2px;
          background-color: #050d33;transform-origin: center center;
        }
        &:before {transform: rotate(45deg)}
        &:after {transform: rotate(-45deg)}
        &:hover {opacity: 1;}
      }

      .product {
        padding: 0;
        margin: 0 0 20px;

        p {padding: 0;margin: 0 0 10px;}

        &--image:after {display: none;}

        &--title {
          font-size: 14px;
          line-height: 20px;
          overflow: hidden;
          height: 40px;
          padding: 0;margin-bottom: 10px;
        }

        &--info {
          font-size: 14px;
          line-height: 20px;
          overflow: hidden;
          height: 40px;
          padding: 0;margin-bottom: 10px;
        }

        .old--price, .new--price, .price {font-size: 14px;margin: 0 .25em;}

        .add-to-basket {
          font-size: 14px;
          height: 30px;
          padding: 3px 15px;
        }

        &--spec {
          dl {
            display: block;
            margin: 0 -15px;padding: 0;
            font-size: 16px;
            line-height: 20px;
            color: #050d33;
            text-align: center;

            dt {display: none;}
            dd {
              display: block;
              padding: 7px 0;
              border-bottom: 1px solid #f2f3f5;
              margin: 0;

              &.active {
                background-color: #e8e8e8;
                svg {fill: #050d33;}
              }

              svg {
                width: 16px;height: 16px;fill: #cdcfd6;
                display: block;margin: 2px auto;
              }
            }
          }
        }

      }
    }
  }

  &--page {
    padding: 40px 0 60px;
    flex: 1;
    h1 {
      margin: 0 0 30px;
      color: #050d33;
      font-size: 30px;
    }
  }
}
@include tabletDown {
  .compare--sidebar ul.spec li, .compare--slider .slide .product--spec dl {font-size: 14px;}
}
@include mobile {
  .compare--sidebar {padding-top: 0;}
  .compare--sidebar ul.spec {display: none;}
  .compare--slider .slide .product--spec dl dt {font-size: 12px;display: block;padding: 5px 15px;opacity: .5;}
  .compare--slider .slide .product--spec dl dd {font-size: 14px;padding: 5px 15px;}
  .compare--slider .slide .product--title, .compare--slider .slide .product--info {height: auto;}
}


.basket {
  &--summary {

    h2 {
      color: #696e85;
      text-transform: uppercase;
      font-size: 30px;
      margin: 0 0 30px;
    }
    .btn {
      margin-bottom: 20px;
    }

    table {
      width: 100%;
      border: 0;
      border-spacing: 0;
      border-collapse: collapse;
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
      
      th, td {
        padding: 5px 0;
      }

      th {
        text-align: left;
        color: #22489b;
      }
      td {
        text-align: right;
      }
    }
  }
  &--form {
    h2 {
      color: #696e85;
      text-transform: uppercase;
      font-size: 30px;
      margin: 0 0 30px;

      svg {
        fill: #22489b;
        width: 1em;height: 1em;
        margin-right: 10px;display: inline-block;
        vertical-align: middle;line-height: 1;margin-bottom: 3px;
      }
    }
    label {
      display: block;
      font-size: 16px;
      color: #050d33;
      margin-bottom: 5px;
    }

    input {
      display: block;
      height: 40px;
      border-radius: 6px;
      background-color: #fff;
      border: 1px solid #cdcfd6;
      padding: 0 10px;
      color: #050d33;
      font-size: 16px;
      width: 100%;
      margin-bottom: 15px;
    }

    .nice-select {
      float: none;
      margin-bottom: 15px;

      .list {
        left: -1px;right: -1px;
      }
    }




    input[type=radio] {
      display: none;

      + label {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        user-select: none;
        cursor: pointer;
        color: #22489b;

        i {
          width: 30px;height: 30px;border-radius: 15px;
          margin-right: 10px;padding: 6px 7px;
          display: block;flex: none;
          border: 1px solid #f2f3f5;
          background-color: #f2f3f5;

          svg {
            display: block;
            width: 16px;height: 16px;
            fill: #22489b;opacity: .5;
          }

        }
        &:hover {
          color: #2475c7;
          i svg {opacity: .75;}
        }
      }

      &:checked + label {
        i {
          border: 1px solid #22489b;

          svg {opacity: 1;  }
        }
      }
    }
  }
  &--page {
    padding: 60px 0 40px;
    flex: 1;

    h1 {
      margin: 0 0 30px;
      color: #050d33;
      font-size: 30px;
    }

    .number {
      position: relative;
      width: 100px;

      .btn-plus, .btn-minus {
        position: absolute;
        width: 18px;height: 18px;
        cursor: pointer;
        right: 8px;padding: 5px;

        svg {display: block;width: 8px;height: 8px;fill: #696d85;}
      }

      .btn-plus {
        top: 2px;
        &:hover svg {fill: #2aa12a;}
      }

      .btn-minus {
        bottom: 2px;
        &:hover svg {fill: #d43737;}
      }

      input {
        display: block;
        height: 40px;
        border-radius: 6px;
        background-color: #f2f3f5;
        border: 1px solid #cdcfd6;
        padding: 0 10px;
        color: #050d33;
        font-size: 18px;
        width: 100%;
      }
    }

    .client--info {
      background-color: #f2f3f5;
      padding: 60px 0;
      margin: 60px 0 -60px;

      h2 {
        margin: 0 0 30px;
        color: #696d85;
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
      }

      label {
        display: block;
        margin-bottom: 5px;
      }

      input {
        display: block;
        height: 40px;
        border-radius: 6px;
        background-color: #fff;
        border: 1px solid #cdcfd6;
        padding: 0 10px;
        color: #050d33;
        font-size: 18px;
        width: 100%;
      }
    }


  }

  &--table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0 0 40px;

    th, td {
      vertical-align: middle;
      user-select: none;
      text-align: right;
      color: #050d33;
      padding: 10px;
      font-size: 16px;
    }


    thead {
      tr {
        border-bottom: 2px solid #050d33;
      }
      th {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 18px;

        &:first-child, &:nth-child(4) {
          text-align: left;
        }
      }
    }

    tbody {
      tr {
        border-bottom: 1px solid #696e85;
      }
      td {
        &:first-child, &:nth-child(2), &:nth-child(5) {
          text-align: left;
        }
        &:first-child {
          padding-top: 20px;padding-bottom: 20px;
        }

        .number {
          margin-left: auto;
          margin-right: 0;
        }

      }
    }

    tfoot {
      tr {
        background-color: #22489b;

        th {
          color: #fff;
          padding: 10px 20px;
          &:first-child {text-align: left;}

          .btn--submit {
            display: inline-block;
            width: auto;
            padding: 10px 30px;
            line-height: 20px;
          }

          strong {
            margin-right: 15px;
          }

          span {
            font-weight: 400;
          }
        }
      }
    }

    a.purchased--item {
      display: block;

      img {
        display: block;
        width: 60px;height: 60px;
      }

      &:hover {
        opacity: .5;
      }
    }

    &.client {
      thead th:nth-child(4), tbody td:nth-child(5) {text-align: right;}
    }
  }


}


.contacts {
  &--page {
    padding: 60px 0 0;
    flex: 1;

    h1 {
      margin: 0 0 30px;
      color: #050d33;
      font-size: 30px;
    }

    .contact--form  {
      padding: 60px 0;
      background-color: #f2f3f5;

      h2 {
        margin-bottom: 30px;
      }


      .validate--form textarea {height: 230px;}
    }
  }


  &--branch {
    padding-bottom: 30px;
    .col {margin-bottom: 30px;}
    h4 {
      margin: 0 0 10px;
      color: #050d33;
      text-transform: uppercase;
      font-size: 16px;
    }
    p {
      color: #050d33;
      margin: 0;
      line-height: 24px;
      font-size: 14px;
      span {display: block;}
    }
  }

  &--map {
    img {display: block;width: 100%;margin-bottom: 60px;}
    &__info {
      border-radius: 10px 10px 0 0;
      background-color: #2475c7;
      color: #fff;
      font-size: 16px;
      line-height: 24px;
      padding: 30px 30px 20px;

      svg {
        fill: #fff;
        width: 15px;height: 15px;
        display: block;
        position: absolute;
        left: 0;
      }

      h4, p {
        padding-left: 30px;
        position: relative;
      }

      h4 {
        font-size: 18px;
        text-transform: uppercase;
        margin: 0 0 20px;

        svg {
          width: 20px;height: 20px;
        }
      }

      p {margin: 0 0 10px;

        &.contacts__time {
          i {display: inline-block;width: 30px;}
          svg {top: 5px;}
          strong {font-family: 'Open Sans Condensed', sans-serif;font-size: 18px;}
          strong, span {
            display: block;
          }
        }
        &.contacts__phone {
          font-weight: 600;
          font-size: 24px;
          line-height: 1;

          small {
            font-size: 16px;
            font-weight: 400;
          }

          svg {
            top: 8px;
          }
        }
      }
    }
  }
}

@include mediumDown {
  .contacts--map__info {padding: 30px 20px 20px;font-size: 14px;}
}

@include mobile {
  .contacts--map__info p.contacts__time i {display: block;}
}