// Media Query Ranges //
  $xs-screen: 520px !default;
  $sm-screen: 768px !default;
  $md-screen: 960px !default;
  $lg-screen: 1200px !default;
// Grid //
  $num-cols: 12 !default;
  $gutter: 30px !default;